<div class="folder_cont">
  <div class="folders">
      <div class="folderName" [ngClass]="{'active': selectedItem == folder}" *ngFor= "let folder of data" (click)="selectedfolder($event, folder)">
        <span>{{folder.folderName}}</span>
      </div>
    </div>
  
</div>